.basket-promo {
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;

        color: #FFFFFF;

        margin-top: 127px;
        display: block;
        
    }
}